html, body, h1, section, ul, li, p, form {
  background: transparent;
  font-style: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  font-weight: inherit;
  color: inherit;
  border: 0px;
  padding: 0px;
  margin: 0px;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

ul, li {
  list-style: none;

}

.diff, .play {
  display: inline;
}

.diff:hover, .play:hover {
  font-size: 24px;
  cursor: pointer;
  cursor: hand;
}


.last-dinosaur {
  font-family: sans-serif;
  background: #BEA08C;
}

.game {
  display: block;
  width: 640px;
  border: solid 5px #745245;
  background: #462D2A;
  border-radius: 20px;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
}

.game-title {
  font-weight: bold;
  font-size: 36px;
  display: block;
  width: 600px;
  padding: 0px 10px;
  margin: auto;
  text-align: center;
  color: #fff;
}

.last-dino {
  display: block;
  margin: auto;
  padding: 10px;
  width: 600px;
  height: 270px;
  border-radius: 10px;
  background: url(../img/dino_back.png);
}

.board, .board > li {
  display: block;
  vertical-align: bottom;
}

.board > li {
  float: left;
  height: 30px;
  width: 30px;
}

.earth {
  background: brown;
}

.dino:after {
  content: url(../img/dino2.png);
}

.meteor:after {
  content: url(../img/fireball2.png);
}

.game-over {
  display: block;
  margin: auto;
  padding:50px;
}

.game-over > li {
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
}

.score {
  display: block;
  margin: auto;
  padding:10px;
  padding-bottom: 0px;
  width: 600px;
}

.score > li {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  display: block;
}

.best {
 float: right;
 text-align: right;
}

.current {
 float: left;
 text-align: left;
}
